        @import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

fieldset, label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

x-star-rating {
    font-family: 'Ionicons';
    font-size: 25px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}
